.warn-view {
  padding: 1em;
}

.empty-message {
  text-align: center;
}

.empty-message p {
  font-style: italic;
}

.title {
  line-break: anywhere;
  margin-top: 0;
}

.description {
  line-break: anywhere;
}

.nunito {
  font-family: Nunito;
}

.time-info {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}
