<!-- Main View -->
<div class="main-view">
  <!-- Toolbar -->
  <div class="toolbar">
    <span>Simple CRUD</span>
  </div>

  <!-- Warn View -->
  <div class="content">
    <div class="sub-content">
      <app-sidebar
        class="sidebar"
        [warns]="warns" [isLoadingWarns]="isLoadingWarns" [hasNextPage]="hasNextPage"
        (warnFocus)="changeFocus($event)" (getWarnPage)="loadWarnPage()">
      </app-sidebar>
      <app-warnview
        [currentWarn]="visibleWarn"
        (deleteWarn)="deleteWarn($event)" (discardWarnChanges)="loadWarnById($event)" (updateWarnInfo)="updateWarn($event)">
      </app-warnview>
    </div>
  </div>
</div>
